<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>{% block title %}Mi Sitio{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'lista_propiedades' %}">Ver Propiedades</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'perfil' %}">Perfil</a></li>
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'registro' %}">Registro</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
