{% extends 'base_generic.html' %}

{% block title %}Inmobiliaria SKY{% endblock %}

{% block content %}
<main class="container mt-4">
    <div class="jumbotron text-center" style="background-color: #77B1A9; color: #FFFFFF;">
        <h1 class="display-4" style="color: #270A33;">Bienvenido a la Inmobiliaria SKY</h1>
        <p class="lead" style="color: #3D7B80;">Encuentra las mejores propiedades para arrendar.</p>
        <p>En Inmobiliaria SKY, nos dedicamos a ofrecer las mejores opciones de alquiler de propiedades a lo largo de todo Chile. Con un amplio portafolio de inmuebles, desde modernas viviendas urbanas hasta acogedoras casas en zonas rurales, garantizamos encontrar la propiedad perfecta que se ajuste a sus necesidades y estilo de vida. Nuestro compromiso es brindarle un servicio personalizado y profesional, asegurando una experiencia de arrendamiento segura y confiable. Explore nuestras opciones y descubra por qué somos líderes en el mercado inmobiliario chileno. Su próximo hogar lo espera con nosotros.</p>
        <hr class="my-4" style="border-top: 1px solid #270A33;">
        <p class="lead">
            <a class="btn btn-lg" href="{% url 'lista_propiedades' %}" role="button" style="background-color: #451A3E; color: #FFFFFF;">Ver Propiedades</a>
            {% if not user.is_authenticated %}
                <a class="btn btn-lg" href="{% url 'login' %}" role="button" style="background-color: #3D7B80; color: #FFFFFF;">Iniciar Sesión</a>
            {% endif %}
        </p>
        {% if user.is_authenticated %}
        <p class="lead mt-3">
            <a class="btn btn-lg" href="{% url 'nuevo_inmueble' %}" role="button" style="background-color: #451A3E; color: #FFFFFF;">Agregar Propiedad</a>
        </p>
        {% endif %}
    </div>
</main>
{% endblock %}
