{% extends "base_generic.html" %}

{% block title %}Agregar Nuevo Inmueble{% endblock %}

{% block content %}
  <h1>Agregar Nuevo Inmueble</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_direccion">Dirección:</label>
      {{ form.direccion }}
    </div>
    <div class="form-group">
      <label for="id_region">Región:</label>
      {{ form.region }}
    </div>
    <div class="form-group">
      <label for="id_comuna">Comuna:</label>
      {{ form.comuna }}
    </div>
    <div class="form-group">
      <label for="id_precio">Precio:</label>
      {{ form.precio }}
    </div>
    <div class="form-group">
      <label for="id_disponible">Disponible:</label>
      {{ form.disponible }}
    </div>
    <div class="form-group">
      <label for="id_imagen">Imagen:</label>
      {{ form.imagen }}
    </div>
    <button type="submit" class="btn btn-primary">Agregar Inmueble</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const regionSelect = document.getElementById('id_region');
      const comunaSelect = document.getElementById('id_comuna');
  
      regionSelect.addEventListener('change', function() {
        const regionId = this.value;
  
        fetch(`/get-comunas/${regionId}/`)
          .then(response => response.json())
          .then(data => {
            comunaSelect.innerHTML = '<option value="">---------</option>'; // Clear previous options
            data.comunas.forEach(comuna => {
              const option = document.createElement('option');
              option.value = comuna.id;
              option.textContent = comuna.nombre;
              comunaSelect.appendChild(option);
            });
          });
      });
    });
  </script>
  
{% endblock %}
