{% extends "base_generic.html" %}
{% load form_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5" style="border: 2px solid #77B1A9; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-header text-center" style="background-color: #270A33; color: #FFFFFF; border-top-left-radius: 15px; border-top-right-radius: 15px;">
          <h2>Iniciar sesión</h2>
        </div>
        <div class="card-body" style="background-color: #B1E6D1;">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_username" style="color: #270A33;">Usuario</label>
              {{ form.username|add_class:"form-control" }}
            </div>
            <div class="form-group">
              <label for="id_password" style="color: #270A33;">Contraseña</label>
              {{ form.password|add_class:"form-control" }}
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary" style="background-color: #451A3E; border: none;">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

